* {
    text-decoration: none;
}

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Container Styles */
.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: border-bottom 0.3s ease;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

header h1 {
    margin: 0;
    color: red;
    font-size: 24px;
}

/* Main Content Styles */
.main-content {
    /* text-align: center; */
    margin: 2em 0;
    background: url('../src/FrontIMG.jpg') center/cover no-repeat;
    display: flex;
    /* align-items: center; */
    height: 80vh;
}

.text-content h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Text Content Styles */
.text-content {
    position: relative;
    max-width: 60%;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text-content::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: -1;
    background: inherit;
    border: 2px solid #fff; 
    border-radius: 10px;
    backdrop-filter: blur(40px); 
    content: "";
}


/* CTA Button Styles */
.cta-button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.cta-button:hover {
    background-color: #45a049;
}

.cta-button::before {
    content: "Point here";
    align-items: center;
    position: absolute;
    background: #333; /* Change color as desired */
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.cta-button:hover::before {
    transform: translateX(0);
}


/* Section Styles */
#about,
#services {
    margin-left:  0;
    margin-right: 0;
}

/* Contact Form Styles */
.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #4CAF50;
}

/* Animation Styles */

#blog-container {
    max-width: 800px;
    margin: 0 auto;
}

.blog-post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    color: #333;
}

.blog-post p {
    line-height: 1.6;
    margin-bottom: 15px;
}

#about {
    background: url('../src/aboutSec.jpg') center/cover no-repeat;
}

#services {
    background: url('../src/ServisesSec.jpg') center/cover no-repeat;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    flex-shrink: 0;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #333;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    nav.show ul {
        display: flex;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 15px;
        display: block;
        transition: 0.3s;
    }

    nav a:hover {
        background-color: #555;
    }
}
